<nav ng-class="getNavStyle(scroll)">
    <button class="btn btn-sm btn-default" ng-click="goPrevious()"><i class="fa fa-chevron-left"></i></span></button>
    <button class="btn btn-sm btn-default" ng-click="goNext()"><i class="fa fa-chevron-right"></i></span></button>

    <button class="btn btn-sm btn-default" ng-click="zoomIn()"><i class="fa fa-search-plus"></i></span></button>
    <button class="btn btn-sm btn-default" ng-click="fit()">Page Width</span></button>
    <button class="btn btn-sm btn-default" ng-click="zoomOut()"><i class="fa fa-search-minus"></i></span></button>

    <!--<button class="btn btn-sm btn-default" ng-click="rotate()"><i class="fa fa-repeat"></i></span></button>
  -->
    <button class="btn btn-sm btn-default btn-link">Page: {{pageNum}} / {{pageCount}}</button>

</nav>
<hr>
<canvas id="document-question" class="rotate90"></canvas>
