@import "../../bower_components/animatewithsass/animate";

@import "../../bower_components/animatewithsass/_fading-entrances/fading-entrances";
@import "../../bower_components/animatewithsass/_fading-exits/fading-exits";

// SOME VARIABLES

$lightgrey: #f5f6f7;
$grey: #ccc;
$background: #fff;
$tabbg: #ddd;

#lms-player-container {
  //jwPlayer css
  [id^=audio-player],
  [id^=video-player] {
    width: 100% !important;
  }

  //ui-router state transitions animations
  #lms-animate.next.ng-enter {
    @include fadeIn();
  }

  #lms-animate.previous.ng-enter {
    @include fadeIn();
  }

  #lms-animate.bounce {
    @include bounce();
  }

  #lms-player-content,
  #lms-player-nav {
    height: 100vh;
    overflow: auto;
    padding-left: 10px;
    padding-right: 10px;
  }

  #lms-player-main {
    margin-bottom: 80px;
  }

  #lms-sub-nav {
    position: fixed;
    bottom: 0;
    right:0;
    width: 100%;
    padding: 20px 0;
    transition: right 0.3s ease-in-out;
  }

  .lms-translate-btn {
    margin: 18px 22px 0 0
  }

}

//Hide bing translate crap
#WidgetFloaterPanels {
  display: none !important;
}

#MSTCContent {
  display: none !important;
}

/*
#WidgetFloaterPanels + div {
  display: none !important;
}
*/

/**[lang] {
  background-color: initial !important;
  color: inherit !important;
}*/

a.list-group-item-warning.active, button.list-group-item-warning.active, a.list-group-item-warning.active:hover, button.list-group-item-warning.active:hover, a.list-group-item-warning.active:focus, button.list-group-item-warning.active:focus {
  color: $background;
  background-color: #f89406;
  border-color: #df8505;
}

/*---STYLES FOR OFF CANVAS NAV---*/

/*--- TABS ---*/

.togglenav-tabs {
    border-left: 1px solid $grey;
    border-bottom:0;
    float: left;
    position: absolute;
    z-index: 10000;
    top: 0;
    width: 100%;
    margin-left: -16px;
    margin-top: -1px;
}

.togglenav-tabs ul {
    padding: 0;
    margin: 0;
}

.togglenav-tabs ul li {
    list-style-type: none;
    float: left;
    width: 33.33333%;
    margin-left: 0;
    text-align: center;
}

.togglenav-tabs ul li a {
    border-top: 1px solid $grey;
    border-right: 1px solid $grey;
    border-bottom: 1px solid $grey;
    background: $tabbg;
    width: 100%;
    height: 100%;
    display: block;
    padding: 5px 0;
}

.togglenav-tabs ul li.active a {
    background: $lightgrey;
    border-bottom:1px solid $lightgrey;
}

.togglenav-tabs ul li a:hover {
    background: $lightgrey;
}

/*--- OFF CANVAS MENU ---*/

#lms-course-player-nav{
    padding-top:90px;
    min-height:100vh;
}

#lms-player-container #lms-player-nav.main-nav{
    padding-left:0;
}

.main-nav {
    list-style: none;
    background: $lightgrey;
    width: 300px;
    height: 100%;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    z-index: 0;
    transition: opacity 0.3s ease-in-out;
    opacity:0;
}

.site-wrap {
    min-width: 100%;
    min-height: 100%;
    background-color: $background;
    position: relative;
    top: 0;
    bottom: 100%;
    right: 0;
    z-index: 1;
}

.toggle-nav{
    right:20px;
    position:absolute;
    top:10px;
    clip: rect(0, 0, 0, 0);
}

#lms-player-container .lms-course-header .lms-translate-btn {
    right: 40px;
    position: absolute;
    top: 0px;
    z-index: 1000;
}

label[for="toggle-nav"] {
    position: fixed;
    top: 15px;
    right: 20px;
    z-index: 2;
    width: 30px;
    height: 30px;
    cursor: pointer;
}

/*--- WHEN NAV IS OPEN ---*/

.toggle-nav:checked + label {
    right: 320px;
}

.site-wrap.nav-open {
    right: 300px;
    box-shadow: 0 0 5px 5px rgba(0,0,0,0.1);
}

.main-nav.nav-open{
    opacity:1;
}

#lms-player-container .lms-course-header.nav-open .lms-translate-btn {
    right: 340px;
}

#lms-player-container .site-wrap.nav-open #lms-sub-nav {
    right:300px;
}

/*--- END WHEN NAV IS OPEN ---*/

.toggle-nav + label, .site-wrap {
    transition: right 0.3s ease-in-out;
}

#lms-course-player {
    overflow-x: hidden;
}

.lms-course-header {
    width: 100%;
    display: block;
    float: left;
    position: relative;
}

h2.course-page-title {
    font-size: 16px;
}

/*--- FIXED HEADER FOR COURSE INFO --- */

h2.course-page-title {
    position: fixed;
    background: $lightgrey;
    width: 100%;
    right: 0;
    top: -28px;
    padding: 20px;
    padding-right:170px;
    z-index: 100;
    border-bottom: 1px solid $grey;
    transition:right 0.3s ease-in-out;
    box-shadow: 0 0 5px rgba(0,0,0,0.1);
}

#lms-player-container #lms-player-main {
    margin-top: 80px; 
}

.site-wrap.nav-open h2.course-page-title{
    right: 300px;
}

/* For small Screens */
@media all and (min-width: 720px) {
    
    h2.course-page-title {
        font-size: 18px;
    }
}

/* For medium Screens */
@media all and (min-width: 960px) {
    
    h2.course-page-title {
        font-size: 24px;
    }
}

/* For Desktop Screens */
@media all and (min-width: 1200px) {
    
    .main-nav {
        width: 25%;
    }
    
    .site-wrap {
        min-width: 75%;
    }
    
    /*--- WHEN NAV IS OPEN ---*/
    
    .toggle-nav:checked + label {
        right: 26%;
    }
    
    #lms-player-container .lms-course-header.nav-open .lms-translate-btn {
        right: 27.4%;
    }

    .site-wrap.nav-open {
        right:0;
        width: 75%;
        box-shadow: 0 0 5px 5px rgba(0,0,0,0.1);
    } 
    
    .toggle-nav + label, .site-wrap, #lms-player-container .lms-translate-btn, h2.course-page-title, #lms-player-container #lms-sub-nav {
        transition: right 0s ease-in-out;
    }
    
    .site-wrap.nav-open h2.course-page-title{
        width: 75%;
        right: 25%;
    }
    
    #lms-player-container .site-wrap.nav-open #lms-sub-nav {
        width:75%;
        right: 25%;
    }
    
    /*--- END WHEN NAV IS OPEN ---*/
    
    h2.course-page-title {
        font-size: 30px;
    }

}



