<h2 class="course-page-title">File Submission</h2>

<h3>Question:</h3>
<p class="lead" ng-bind-html="vm.question.questions"></p>
<hr>
<div class="panel panel-default">
    <div class="panel-body">
        Upload in this section
    </div>
</div>
<hr>

