<h2 class="course-page-title">Fill In The Blanks</h2>

<p class="lead">
    <fill-in-the-blanks
            ng-repeat="word in vm.question.questions.words track by $index"
            word="word"
            words="vm.question.questions.words"
            word-index="{{$index}}"
            answers="vm.userQuestion.userAnswers">
    </fill-in-the-blanks>
</p>
<hr>

