<h2 class="course-page-title">Multiple Choice <small>Select 1 answer.</small></h2>

<h3>Question:</h3>
<p class="lead" ng-bind-html="vm.question.questions.question"></p>
<hr>
<form class="form-horizontal">
    <fieldset>
        <div class="form-group" ng-repeat="option in vm.question.questions.options track by $index">
            <div class="col-md-12">
                <div class="checkbox">
                    <label for="multiple-choice-{{$index}}">
                        <input type="checkbox"
                               name="true-or-false"
                               id="multiple-choice-{{$index}}"
                               ng-model="vm.userQuestion.userAnswers"
                               ng-true-value="[{{$index}}]"
                               ng-false-value="[]">
                        {{option}}
                    </label>
                </div>
            </div>
        </div>
    </fieldset>
</form>
<hr>
