<h2 class="course-page-title">Multiple Response <small>Select {{vm.question.answers.length}} answers.</small></h2>

<h3>Question:</h3>
<p class="lead" ng-bind-html="vm.question.questions.question"></p>
<hr>
<form class="form-horizontal">
    <fieldset>
        <div class="form-group" ng-repeat="option in vm.question.questions.options track by $index">
            <div class="col-md-12">
                <div class="checkbox">
                    <label for="multiple-response-{{$index}}">
                        <input type="checkbox"
                               ng-click="vm.toggleMultipleResponseOptions($index)"
                               ng-checked="vm.userQuestion.userAnswers.indexOf($index) > -1"
                               name="multiple-response"
                               id="multiple-response-{{$index}}">
                        {{option}}
                    </label>
                </div>
            </div>
        </div>
    </fieldset>
</form>
<hr>