<h2 class="course-page-title">Multi Line Text</h2>

<h3>Question:</h3>
<p class="lead" ng-bind-html="vm.question.questions[0]"></p>
<hr>
<div summernote
     ng-model="vm.userQuestion.userAnswers[0]"
     config="vm.summernoteConfig"
     id="mutiline-text-question-answer"
     name="mutilineTextQuestionAnswer">
</div>
<hr>

