<h2 class="course-page-title"><i class="fa fa-lightbulb-o"></i> {{vm.module.name}}</h2>

<div>

    <uib-tabset justified="false">
        <uib-tab heading="Overview">
            <br>
            <div class="panel panel-default">
                <div class="panel-body">
                    <h4>Quiz Overview</h4>
                    <hr>
                    <p class="lead" ng-bind-html="vm.module.quizDescription"></p>
                </div>
            </div>
        </uib-tab>
        <uib-tab heading="Status" ng-if="vm.userModule">
            <br>
            <div class="panel panel-default">
                <div class="panel-body">
                    <h4>Current Status: {{vm.userModule.status}}
                    </h4>
                    <hr>
                    <strong>Current Attempts: {{vm.userModule.currentAttempts}}</strong>
                </div>
            </div>
        </uib-tab>
        <uib-tab heading="Feedback" ng-if="vm.userModule">
            <br>
            <div class="panel panel-default">
                <div class="panel-body">
                    <div ng-if="vm.userModule.status === 'pending'">
                        <h4>Feedback
                            <small>Feedback will appear in this section once you have completed a quiz.</small>
                        </h4>
                    </div>
                    <div ng-if="vm.userModule.status === 'submitted'">
                        <h4>Preliminary Feedback
                            <small>Awaiting marks for some questions. Theses are usually the questions that require
                                manual marking by
                                person.
                            </small>
                        </h4>
                    </div>
                    <div ng-if="vm.userModule.status === 'started'">
                        <h4>Feedback
                            <small>Your quiz is currently started but not yet submitted.</small>
                        </h4>
                    </div>
                    <div ng-if="vm.userModule.status === 'passed'">
                        <h4>Feedback
                            <small>Congratulations you passed the quiz. Please take some time to review your feedback to
                                help
                                reinforce your learning.
                            </small>
                        </h4>
                    </div>
                    <div ng-if="vm.userModule.status === 'failed'">
                        <h4>Feedback
                            <small>Unlucky you have failed the quiz. Take some time to review your feedback to help you
                                better
                                understand the question.
                            </small>
                        </h4>
                    </div>
                </div>
            </div>

            <question-feedback
                    ng-if="vm.userModule.status === 'passed' || vm.userModule.status === 'failed' || vm.userModule.status === 'submitted'"
                    ng-repeat="userQuestion in vm.userModule.userQuestions"
                    user-question="userQuestion"
                    current-config="vm.currentConfig"
                    question-index="$index">
            </question-feedback>
            <br>
        </uib-tab>

    </uib-tabset>
    <br>
    <div class="panel panel-default">
        <div class="panel-body">

            <button ng-if="!vm.userModule"
                    ng-click="vm.startQuiz()" class="btn btn-primary">
                Preview Quiz
            </button>

            <button ng-if="vm.userModule.status === 'pending'"
                    ng-click="vm.startQuiz()" class="btn btn-primary">
                Start Quiz
            </button>

            <button ng-if="vm.userModule.status === 'started'"
                    ng-click="vm.resumeQuiz()"
                    class="btn btn-primary">
                Resume Quiz
            </button>

            <button class="btn btn-primary"
                    ng-if="vm.userModule.status === 'passed' || vm.userModule.status === 'failed'"
                    ng-click="vm.restartQuiz()">Restart Quiz
            </button>

            <span ng-if="vm.userModule.status === 'submitted'">Your quiz has been submitted check back soon.</span>

        </div>
    </div>

</div>
