<h2 class="course-page-title">True Or False</h2>

<h3>Question:</h3>
<p class="lead" ng-bind-html="vm.question.questions"></p>
<hr>
<form class="form-horizontal">
    <fieldset>
        <div class="form-group">
            <div class="col-md-12">
                <div class="radio">
                    <label for="true-or-false-true">
                        <input type="radio"
                               name="true-or-false-true"
                               id="true-or-false-true"
                               ng-model="vm.userQuestion.userAnswers[0]"
                               value="true"
                        > True
                    </label>
                </div>
                <div class="radio">
                    <label for="true-or-false-false">
                        <input type="radio"
                               name="true-or-false-false"
                               id="true-or-false-false"
                               ng-model="vm.userQuestion.userAnswers[0]"
                               value="false"
                        > False
                    </label>
                </div>
            </div>
        </div>
    </fieldset>
</form>
<hr>

