/* line 8, ../../app/styles/main.scss */
.jwplayer {
    width: 100% !important;
    min-width: 100% !important;
}

/* line 13, ../../app/styles/main.scss */
.jw-tab-focus:focus {
    outline: none !important;
}

/*!* line 18, ../../app/styles/main.scss *!
.note-editor.note-frame {
    border: 1px solid #ccc !important;
}*/

.note-editor.note-frame .note-statusbar {
    background-color: transparent;
}

/* line 22, ../../app/styles/main.scss */
.summernote-read-only {
    border: 1px solid #ccc;
    min-height: 200px;
    padding: 20px;
    color: #52575c;
    background-color: #999;
    opacity: 1;
    border-radius: 0;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    -webkit-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}

/* line 31, ../../app/styles/main.scss */
/*.note-editing-area {
    border-top: 1px solid #ccc !important;
}*/

/* line 35, ../../app/styles/main.scss */
.note-editor.note-frame .note-statusbar .note-resizebar {
    width: 100%;
    height: 8px;
    padding-top: 1px;
    cursor: ns-resize;
}

/* line 43, ../../app/styles/main.scss */
.angular-ui-tree-nodes .angular-ui-tree-nodes {
    padding-left: 0 !important;
}

/*
!* line 48, ../../app/styles/main.scss *!
#toast-container > div {
    border-radius: 0 !important;
    -moz-border-radius: 0 !important;
    -webkit-border-radius: 0 !important;
    box-shadow: 0 0 0 #999999;
}
*/

/*
!* line 59, ../../app/styles/main.scss *!
#toast-container > .toast-info {
    //background-color: #9954BB !important;
}
*/

/*!* line 63, ../../app/styles/main.scss *!
#toast-container > .toast-wait {
    background-color: #9954BB !important;
}*/

/*!* line 67, ../../app/styles/main.scss *!
#toast-container > .toast-error {
    background-color: #FF0039 !important;
}*/

/*
!* line 71, ../../app/styles/main.scss *!
#toast-container > .toast-success {
    background-color: #3FB618 !important;
}
*/

/*
!* line 75, ../../app/styles/main.scss *!
#toast-container > .toast-warning {
    background-color: #FF7518 !important;
}
*/

/* line 80, ../../app/styles/main.scss */
div#fill-blanks-word-list {
    overflow-x: auto;
    padding: 20px;
    display: -moz-flex;
    display: flex;
}

/* line 85, ../../app/styles/main.scss */
div#fill-blanks-word-list button {
    margin: 5px;
    text-transform: none;
}

/*Loading Animation Stuff*/

.sk-folding-cube {
    margin: 20px auto;
    width: 40px;
    height: 40px;
    position: relative;
    -webkit-transform: rotateZ(45deg);
    transform: rotateZ(45deg);
}

.sk-folding-cube .sk-cube {
    float: left;
    width: 50%;
    height: 50%;
    position: relative;
    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1);
}

#sk-message {
    text-align: center;
}

.sk-folding-cube .sk-cube:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #0dbba1;
    -webkit-animation: sk-foldCubeAngle 2.4s infinite linear both;
    animation: sk-foldCubeAngle 2.4s infinite linear both;
    -webkit-transform-origin: 100% 100%;
    -ms-transform-origin: 100% 100%;
    transform-origin: 100% 100%;
}

.sk-folding-cube .sk-cube2 {
    -webkit-transform: scale(1.1) rotateZ(90deg);
    transform: scale(1.1) rotateZ(90deg);
}

.sk-folding-cube .sk-cube3 {
    -webkit-transform: scale(1.1) rotateZ(180deg);
    transform: scale(1.1) rotateZ(180deg);
}

.sk-folding-cube .sk-cube4 {
    -webkit-transform: scale(1.1) rotateZ(270deg);
    transform: scale(1.1) rotateZ(270deg);
}

.sk-folding-cube .sk-cube2:before {
    -webkit-animation-delay: 0.3s;
    animation-delay: 0.3s;
}

.sk-folding-cube .sk-cube3:before {
    -webkit-animation-delay: 0.6s;
    animation-delay: 0.6s;
}

.sk-folding-cube .sk-cube4:before {
    -webkit-animation-delay: 0.9s;
    animation-delay: 0.9s;
}

@-webkit-keyframes sk-foldCubeAngle {
    0%, 10% {
        -webkit-transform: perspective(140px) rotateX(-180deg);
        transform: perspective(140px) rotateX(-180deg);
        opacity: 0;
    }
    25%, 75% {
        -webkit-transform: perspective(140px) rotateX(0deg);
        transform: perspective(140px) rotateX(0deg);
        opacity: 1;
    }
    90%, 100% {
        -webkit-transform: perspective(140px) rotateY(180deg);
        transform: perspective(140px) rotateY(180deg);
        opacity: 0;
    }
}

@keyframes sk-foldCubeAngle {
    0%, 10% {
        -webkit-transform: perspective(140px) rotateX(-180deg);
        transform: perspective(140px) rotateX(-180deg);
        opacity: 0;
    }
    25%, 75% {
        -webkit-transform: perspective(140px) rotateX(0deg);
        transform: perspective(140px) rotateX(0deg);
        opacity: 1;
    }
    90%, 100% {
        -webkit-transform: perspective(140px) rotateY(180deg);
        transform: perspective(140px) rotateY(180deg);
        opacity: 0;
    }
}

.lms-pagination {
    margin: 5px 0 !important;
}

.lms-table-active {
    color: #ffffff !important;
    background-color: #216ca2 !important;
}

.panel.panel-warning > .panel-heading .pull-right i {
    color: #8a6d3b;
}

.panel {
    border-radius: 0;
    border-top: 1px solid rgba(210, 210, 210, 0.3);
    background-color: rgba(240, 240, 240, 0.4);
    box-shadow: 0 3px 6px rgba(150, 150, 150, 0.4);
}

.panel-heading {
    padding: 15px 15px;
    margin-bottom: -1px;
    border-bottom: none;
    border-radius: 0;
    border-bottom: 1px solid rgba(150, 150, 150, 0.7);
}

.form-control {
    border-radius: 0 !important;
}

.angular-ui-tree-handle {
    font-weight: 200;
}

.nav > li > a:hover, .nav > li > a:focus {
    text-decoration: none;
    background-color: rgb(220, 220, 220);
}

