<h2 class="course-page-title"><i class="fa fa-file-text-o"></i> {{vm.module.name}}</h2>


<div class="panel panel-default" ng-if="vm.module.lectureBody">
    <div class="panel-body">
        <p class="lead" ng-bind-html="vm.module.lectureBody"></p>
    </div>
</div>
<ng-pdf template-url="/Extensions/ExtorioLMS/Assets/CoursePlayerDev/app/states/partials/pdf.template.html"
        canvasid="document-question"
        scale="page-fit"
        scale="page-fit">
</ng-pdf>


