<h2 class="course-page-title"><i class="fa fa-info-circle"></i> {{vm.course.name}}</h2>


<div class="col-md-3">
    <div class="panel panel-default">
        <!--<img class="img-responsive" width="100%" ng-src="{{course.defaultThumbnail}}">-->
        <div class="panel-body">
            <!--<div class="col-md-12">
              <strong><i class="fa fa-graduation-cap"></i> Category: </strong> {{vm.course.category.name}} /
              {{vm.course.subCategory.name}}
            </div>-->
            <div class="col-md-12">
                <strong><i class="fa fa-bullseye"></i> Difficulty: </strong> {{vm.course.difficulty}}
            </div>
            <div class="col-md-12">
                <strong><i class="fa fa-clock-o"></i> Estimated Time (minutes): </strong> {{vm.course.expiryMinutes}}
            </div>
            <div class="col-md-12">
                <hr>
            </div>
            <div class="col-md-12">
                <span style="margin: 2px;" class="label label-primary"
                      ng-repeat="tag in vm.course.tags">{{tag.name}}</span>
            </div>
            <div class="col-md-12">
                <hr>
            </div>
        </div>
    </div>
</div>

<div class="col-md-9">
    <div class="panel panel-default">
        <div class="panel-body">
            <strong>Progress</strong>
            <div class="progress" style="margin-bottom: 0">

                <div class="progress-bar" style="width: {{vm.progress}}%;">{{vm.progress}}%</div>
            </div>
        </div>
    </div>

    <div class="panel panel-default" ng-if="vm.course.description">
        <div class="panel-body">
            <strong>Course Description</strong>
            <div ng-bind-html="vm.course.description"></div>
        </div>
    </div>
</div>

<!--<div ng-bind-html="vm.table"></div>-->

</div>


