<h2 class="course-page-title"><i class="fa fa-list-alt"></i> {{vm.module.name}}</h2>

<div class="panel panel-default" ng-if="vm.module.lectureBody">
    <div class="panel-body">
        <p class="lead" style="overflow: hidden" ng-bind-html="vm.module.lectureBody"></p>
    </div>
</div>

