<h2 class="course-page-title"><i class="fa fa-video-camera"></i> {{vm.module.name}}</h2>


<div class="panel panel-default" ng-if="vm.module.lectureBody">
    <div class="panel-body">
        <p class="lead" ng-bind-html="vm.module.lectureBody"></p>
    </div>
</div>

<div class="panel panel-default">
    <jw-player player-id="video-player-{{vm.module.id}}"></jw-player>
</div>

