<div class="col-md-12">
    <div class="panel panel-default panel-table">

        <div class="panel-heading">
            <div class="row">
                <div class="col col-xs-6">
                    <!--<h3 class="panel-title">Panel Heading</h3>-->
                </div>
                <div class="col col-xs-6 text-right">
                    <div class="navbar-form navbar-right" role="search">
                        <div class="form-group">
                            <input ng-model="searchTerm" type="text" class="form-control" placeholder="Search"
                                   style="margin-right: 5px">
                        </div>
                        <button ng-click="search()" class="btn btn-primary">Submit</button>
                    </div>
                </div>
            </div>
        </div>
        <br ng-show="!hasLoaded">
        <br ng-show="!hasLoaded">
        <loading-spinner ng-show="!hasLoaded"
                         message="Fetching Existing Files"></loading-spinner>
        <br ng-show="!hasLoaded">
        <br ng-show="!hasLoaded">
        <div class="panel-body"
             ng-show="hasLoaded">
            <table class="table table-striped table-bordered table-list" ng-if="totalItems">
                <thead>
                <tr>
                    <th></th>
                    <th>Name</th>
                    <th>Type</th>
                </tr>
                </thead>
                <tbody>
                <tr ng-class="{'lms-table-active' : fileId === source.id }"
                    ng-repeat="source in sources track by $index">
                    <td align="center">
                        <a class="btn btn-default"
                           ng-click="updateLectureFile(source.id)"><em class="fa fa-play"></em></a>
                    </td>
                    <td>{{source.fileName}}</td>
                    <td>{{source.contentType}}</td>
                </tr>
                </tbody>
            </table>

            <strong ng-if="!totalItems"> No Items for <i>{{searchTerm}}</i></strong>

        </div>
        <div class="panel-footer">
            <div class="row">
                <div class="col col-xs-4">
                    <strong ng-if="totalItems">Showing {{1 + (currentPage * maxSize) - maxSize }} - {{currentPage *
                        maxSize}} of {{totalItems}} files.</strong>
                </div>
                <div class="col col-xs-8">
                    <!--   <pre>totalItems:{{totalItems}}</pre>
                       <pre>currentPage:{{currentPage}}</pre>
                       <pre>maxSize:{{maxSize}}</pre>-->
                    <uib-pagination ng-show="totalItems"
                                    items-per-page="maxSize"
                                    total-items="totalItems"
                                    ng-model="currentPage"
                                    ng-change="pageChanged()"
                                    max-size="maxSize"
                                    class="lms-pagination pull-right"
                                    boundary-link-numbers="true"
                                    rotate="false"></uib-pagination>
                </div>
            </div>
        </div>
    </div>

</div>