<div class="modal-header">
    <h3 class="modal-title">My Files</h3>
</div>

<div class="modal-body">

    <div class="form-group">
        <label class="col-md-3 control-label"
               for="course-sub-category">Select File</label>

        <div class="col-md-9">
            <select id="course-sub-category"
                    ng-model="vm.modalData.return"
                    ng-options="source.fileName for source in vm.modalData.sources"
                    name="sources"
                    class="form-control input-md"></select>
        </div>
    </div>
    </br>

</div>

<div class="modal-footer">
    <button class="btn btn-primary"
            type="button"
            ng-click="vm.ok()">OK
    </button>
    <button class="btn btn-warning"
            type="button"
            ng-click="vm.cancel()">Cancel
    </button>
</div>
