<div class="modal-header">
    <h3 class="modal-title">{{vm.modalData.title}}</h3>
</div>
<div class="modal-body">
    <strong>Are you sure you wish to submit the course to be reviewed?</strong>
    <p>During this process you will only be able to make limited changes to your course.</p>
    <p>Click OK if you are happy with your course to be submitted, else click cancel to continue creating your
        course.</p>
</div>
<div class="modal-footer">
    <button class="btn btn-primary"
            type="button"
            ng-click="vm.ok()">OK
    </button>
    <button class="btn btn-warning"
            type="button"
            ng-click="vm.cancel()">Cancel
    </button>
</div>
