<div class="row" id="lms-player-container">
    
    <input type="checkbox" id="toggle-nav" class="toggle-nav" ng-model="$root.open" />
    <label for="toggle-nav"><i class="fa fa-navicon fa-2x"></i></label>
    <div class="lms-course-header" ui-view="header" ng-class="{ 'nav-open': $root.open}"></div>

    <!--main content-->
    <div class="site-wrap" id="lms-player-content" ng-class="{ 'nav-open': $root.open}">
        <div id="lms-player-main" ui-view></div>
        <div id="lms-sub-nav" ui-view="subnav"></div>
    </div>

    <!--side nav-->
    <div class="main-nav" id="lms-player-nav" ng-class="{ 'nav-open': $root.open}">
        <div ui-view="navigation"></div>
    </div>
</div>





