<header>
    <button ng-if="!$root.translated" class="btn btn-xs pull-right btn-danger lms-translate-btn"
            ng-click="vm.translate()">
        翻译翻译到中国
    </button>

    <button ng-if="$root.translated" class="btn btn-xs pull-right btn-danger lms-translate-btn" ng-click="vm.restore()">
        还原为英语
    </button>
</header>