<nav id="lms-course-player-nav"  ng-class="{ 'nav-open': open}">
   
    <div class="togglenav-tabs">
        <ul>
            <!-- Double hash href stops page jumping to anchor on click, there's probably a better way to do this -->
            <li class="active"><a href="##coursemenu" data-toggle="tab"><i class="fa fa-list"></i></a></li>
            <li><a href="##coursefiles" data-toggle="tab"><i class="fa fa-download"></i></a></li>
            <li><a href="##coursecomments" data-toggle="tab"><i class="fa fa-comments"></i></a></li>
        </ul>
    </div>
    
    <div class="tab-content">
    
        <div role="tabpanel" class="tab-pane active" id="coursemenu">

            <section ng-if="!$root.isQuiz">
                <header>

                    <div class="panel panel-primary">
                        <div class="panel-heading">
                            <h3 class="panel-title">
                                Course Overview
                            </h3>
                        </div>
                        <div class="panel-body">
                            <div class="list-group">
                                <a href="#" class="list-group-item" ng-click="vm.showCourseOverview()"
                                   ng-class="{'active' : !vm.currentConfig}">
                                    <strong><i class="fa fa-info-circle"></i> {{vm.course.name}}</strong>
                                </a>
                            </div>

                            <div class="btn-group btn-group-justified">
                                <div class="btn-group" role="group">
                                    <button onclick="window.location.href = '/my-courses'" class="btn btn-success">
                                        <i class="fa fa-chevron-left"></i> Back to My Courses
                                    </button>
                                </div>
                            </div>

                        </div>
                    </div>
                </header>

                <section id="lms-course-player-modules">

                    <div class="panel panel-primary" ng-repeat="lesson in vm.course.lessons">
                        <div class="panel-heading">
                            <h3 class="panel-title">{{$index + 1}} - {{lesson.name}}</h3>
                        </div>

                        <div class="panel-body" ng-if="(lesson.modules | filter:{type:'lecture'}).length">
                            <div class="list-group">
                                <a class="list-group-item"
                                   ng-repeat="module in lesson.modules"
                                   ng-class="{'list-group-item-warning' : module.type === 'quiz',
                                'active' : vm.currentConfig.lessonIndex === $parent.$index && vm.currentConfig.moduleIndex === $index }"
                                   ng-click="vm.loadModule(module, $parent.$index, $index)">
                                    <i class="fa"
                                       ng-class="{'fa-circle-o' : vm.userCourse.userLessons[$parent.$index].userModules[$index].status  === 'pending',
                                    'fa-adjust' : vm.userCourse.userLessons[$parent.$index].userModules[$index].status === 'started',
                                    'fa-check-circle-o text-success' : vm.userCourse.userLessons[$parent.$index].userModules[$index].status === 'passed',
                                    'fa-clock-o' : vm.userCourse.userLessons[$parent.$index].userModules[$index].status === 'submitted',
                                    'fa-times-circle-o text-danger' : vm.userCourse.userLessons[$parent.$index].userModules[$index].status === 'failed'}">
                                    </i>
                                    <span ng-if="!$root.isPreviewMode">|</span>
                                    <i class="fa"
                                       ng-class="{'fa-video-camera' : module.lectureType === 'video',
                                      'fa-list-alt' : module.lectureType === 'text',
                                      'fa-volume-up' : module.lectureType === 'audio',
                                      'fa-picture-o' : module.lectureType === 'image',
                                      'fa-file-text-o' : module.lectureType === 'document',
                                      'fa-lightbulb-o' : module.type === 'quiz'}">
                                    </i>
                                    {{module.name}}
                                </a>
                            </div>
                        </div>
                    </div>

                </section>

            </section>

            <section ng-if="$root.isQuiz">
                <div class="panel panel-warning">
                    <div class="panel-heading"><h3 class="panel-title">Quiz name</h3></div>
                    <div class="panel-body">
                        <div class="list-group">
                            <a class="list-group-item" ng-repeat="question in vm.quizModule.questions"
                               ng-class="{'active' : vm.currentConfig.questionIndex === $index}"
                               ng-click="vm.loadQuizModuleQuestion(question, $index)">
                                <i class="fa"
                                   ng-class="{'fa-circle-o' : vm.userModule.userQuestions[$index].status  === 'pending',
                                    'fa-check-circle-o text-success' : vm.userModule.userQuestions[$index].status === 'started'}"></i>
                                <span ng-if="!$root.isPreviewMode">|</span> Question {{$index + 1}}
                            </a>
                        </div>
                    </div>
                </div>
                <div class="btn-group btn-group-justified">
                    <div ng-if="!$root.isPreviewMode" class="btn-group" role="group">
                        <button class="btn btn-success" ng-click="vm.submitQuizForMarking()">
                            Submit Quiz
                        </button>
                    </div>
                    <div class="btn-group" role="group">
                        <button class="btn btn-warning" ng-click="vm.pauseQuiz()">
                            {{!$root.isPreviewMode ? 'Save and Exit' : 'Finish Quiz Preview'}}
                        </button>
                    </div>
                </div>

            </section>

        </div>
        
        <div role="tabpanel" class="tab-pane" id="coursefiles">

        </div>
        
        <div role="tabpanel" class="tab-pane" id="coursecomments">

        </div>

        <!-- <pre>{{vm.userModule | json}}</pre>
         <hr>
        <pre>{{vm.userCourse | json}}</pre>
         <hr>
        <!-- <pre>{{vm.course.lessons[vm.currentConfig.lessonIndex].modules[vm.currentConfig.moduleIndex] | json}}</pre>-->

</nav>

