<div>
    <div ng-if="vm.currentConfig != 'overview'">
        <button ng-click="vm.previous()" class="btn btn-primary"><i class="fa fa-chevron-left"></i> Prev</button>
        <button ng-click="vm.next()" class="btn btn-primary">Next <i class="fa fa-chevron-right"></i></button>
        <button ng-if="!vm.isModuleQuestion && !vm.isModuleTypeQuiz && !$root.isPreviewMode"
                ng-click="vm.submitUserModuleBroadcast()" class="btn btn-success">Mark as Finished
            <i class="fa fa-check"></i></button>
        <button id="lms-animate" ng-if="vm.isModuleQuestion && !$root.isPreviewMode"
                ng-click="vm.saveUserQuestionBroadcast()" ng-class="{'bounce' : $root.showSaveUserQuestionHelp}"
                class="btn btn-success animated">Save Quiz Question
            <i class="fa fa-check"></i></button>
    </div>
</div>

